.wrapper{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 2rem;
  text-align: center;
  text-decoration: 3px underline rgb(143, 130, 238);
}
